<template lang="pug">
  offer-form(:offer="offer" :metros="metros" @save="onSave" :cities="cities")
</template>

<script>
import OfferForm from "~/components/OfferForm";

export default {
  components: {
    OfferForm
  },
  async asyncData({ app, route }) {
    const { result } = await app.$api("offers.getFast", {
      offerId: parseInt(route.params.id)
    });
    const metroResp = await app.$api("metros.list");
    const cities = await app.$api("geo.cities");
    return { offer: result, metros: metroResp.result, cities: cities.result };
  },
  methods: {
    onSave() {
      console.log(this.offer);
    }
  }
};
</script>
