<template lang="pug">
div
    v-card
        v-carousel(
              :show-arrows="offer.images.length > 1"
              :hide-delimiters="offer.images.length <= 1"
              hide-delimiter-background
              delimiter-icon="mdi-minus"
          )
            v-carousel-item(v-for="img,index in offer.images" :key="index")
              template(v-slot:default)
                    v-img(:src="img.url" :contain="true" max-height="500px")
        v-card-text
            v-layout 
                v-flex
                  v-icon(light) mdi-clock-outline
                  span {{ $moment(offer.publishedAt).fromNow()  }}
            v-flex.title {{offer.title}}
        v-card-text
          v-sheet.text-center(v-if="!!contacts")
                p(v-if="!contacts") Загрузка...
                v-list(v-if="contacts")
                  v-list-item-group
                    v-list-item(v-for="item, i in contacts" :key="i" target="_blank" :href="item.value")
                      v-list-item-icon
                        v-icon(v-text="`mdi-`+contactIcon(item.type)") 
                      v-list-item-content
                        v-list-item-title {{item.text}}
                          
          v-btn(color="primary" @click="showContacts") Показать контакты
        v-card-text
            v-alert(
              type="success" border="left"
              colored-border
              elevation="2"
              v-if="offer.status == 12 && ($auth.user && ($auth.user.isModerator || $auth.user.userId === offer.user.userId))"
              ) Объявление опубликовано! Срок размещения истечёт {{ $moment(offer.publishedUntil).fromNow()  }}.
              v-spacer
              v-btn(color="warning" @click="endOffer") Снять с публикации
            v-alert(
              type="warning" border="left"
              colored-border
              elevation="2"
              v-if="offer.status == 10 && ($auth.user && ($auth.user.isModerator || $auth.user.userId === offer.user.userId))"
              ) Объявление не опубликовано
              v-spacer
              v-btn(color="primary" @click="submitForModeration") Отправить на модерацию
            v-alert(
              v-if="offer.status == 11 && ($auth.user && $auth.user.isModerator)"
              type="warning" border="left"
              colored-border
              elevation="2"
            ) Объявление находится на модерации, его можно опубликовать
              v-spacer
              v-btn(color="primary" @click="publish") Опубликовать
            nl2br(tag="p" :text="offer.comment")
    Comments(:offerId="parseInt($route.params.id)" :comments="comments" @update="fetchComments")
</template>

<script>
import Nl2br from "vue-nl2br";
import Comments from "~/components/comments/Comments.vue";

export default {
  components: {
    Nl2br,
    Comments
  },
  data() {
    return {
      sheet: false,
      contacts: false,
      dotMenu: [
        { title: "Редактировать", to: `/offers/${this.$route.params.id}/edit` }
      ]
    };
  },
  async asyncData({ app, route }) {
    const { result } = await app.$api("offers.getFast", {
      offerId: parseInt(route.params.id)
    });
    const commentsResp = await app.$api("comments.offerComments", {
      offerId: parseInt(route.params.id)
    });
    return {
      offer: result,
      comments: commentsResp.result
    };
  },
  created() {
    this.$store.commit("nav/setDotMenu", this.dotMenu);
  },
  methods: {
    async fetchComments() {
      const commentsResp = await this.$api("comments.offerComments", {
        offerId: parseInt(this.$route.params.id)
      });
      this.comments = commentsResp.result;
    },
    contactIcon(type) {
      switch (type) {
        case "phone":
          return "cellphone";
        case "email":
          return "at";
        case "link":
          return "link";
      }
      return "account-box";
    },
    async showContacts() {
      this.sheet = true;
      const { result, error } = await this.$api("offers.contacts", {
        offerId: parseInt(this.$route.params.id)
      });
      if (error) {
        this.$store.commit("showErrorSnackbar", error.message);
      } else {
        this.contacts = result;
      }
    },
    async submitForModeration() {
      const res = await this.$api("offers.submitForModeration", {
        offerId: this.offer.offerId
      });
      if (res.result && res.result.error) {
        this.$toast.error(res.result.error.message);
      } else {
        this.$toast.success("Объявление отправлено на модерацию");
        this.offer.status = 11;
      }
    },
    async publish() {
      const res = await this.$api("moderation.submitOffer", {
        offerId: this.offer.offerId
      });
      if (res.result && res.result.error) {
        this.$toast.error(res.result.error.message);
      } else {
        this.$toast.success("Объявление успешно опубликовано");
        this.offer.status = 12;
        this.offer.publishedUntil = this.$moment().add(14, "days");
      }
    },
    async endOffer() {
      const res = await this.$api("offers.unPublish", {
        offerId: this.offer.offerId
      });
      if (res.result && res.result.error) {
        this.$toast.error(res.result.error.message);
      } else {
        this.$toast.success("Объявление снято с публикации");
        this.offer.status = 10;
      }
    }
  }
};
</script>
