<template lang="pug">
v-card.mt-2
  v-card-title Комментарии
  v-card-text
    Comment(v-for="comment, i in comments" :key="i" :comment="comment")
    v-textarea(label="Добавить комментарий" v-model="comment" append-outer-icon="mdi-send" @click:append-outer="sendComment" :disabled="disabled")
</template>

<script>
import Comment from "./Comment";

export default {
  components: {
    Comment
  },
  props: ["offerId", "comments"],
  data: () => ({
    comment: null,
    disabled: false
  }),
  methods: {
    async sendComment() {
      this.disabled = true;
      await this.$api("comments.addOfferComment", {
        offerId: this.offerId,
        comment: this.comment
      });
      this.comment = null;
      this.disabled = false;
      this.$emit("update");
    }
  }
};
</script>
