<template lang="pug">
v-list-item
  v-list-item-avatar
    v-img(:src="comment.user.avatarURL") 
  v-list-item-content
    v-list-item-content(v-html="comment.user.name") 
    v-list-item-subtitle(v-html="comment.text")
</template>

<script>
export default {
  props: ["comment"]
};
</script>
