<template lang="pug">
div
  .headline Инструкция
  ul
    li Выбираем любой пост
    li Смотрим чтобы в нём не было ничего подозрительного
    li Нажимаем "Создать объявление"
    li Выбираем нужные категории
    li Если объявление о сдаче гнездышка, нужно найти в тексте адрес (если его нет - метро, если нет ничего, не публикуем такое объявление)
    li Публикуем!
</template>

<script>
export default {};
</script>
