<template lang="pug">
    v-container(grid-list-md class="pa-2")
        v-layout(justify-center column fill-height)
                  OfferListItem.my-4.h100(v-for="offer in offers" :key="offer.id"  :offer="offer")
</template>

<script>
import OfferListItem from "~/components/OfferListItem";

export default {
  components: {
    OfferListItem
  },
  props: ["offers"]
};
</script>

<style scoped>
.h100 {
  height: 100%;
}
</style>
