<template lang="pug">
        v-card(elevation="4")
            v-carousel(
              hide-delimiter-background
              :show-arrows="offer.images.length > 1"
              :hide-delimiters="offer.images.length <= 1"
              :hide-delimiter-background="true"
            )
                v-carousel-item(v-for="imgSrc,index in offer.images" :to="`/offers/${offer.id}`" :key="index" :src="imgSrc")
            .offer-avatar-container
              .offer-avatar-halo
                v-avatar.offer-avatar
                  v-img(:src="offer.user.avatarUrl")
            v-btn.offer-list-item-like(
                      fab
                        color="rgba(255, 50, 50,.2)"
                        top
                        right
                        depressed="!isFave"
                        @click="addToFave"
                    )
                      v-icon(v-if="isFave" color="white") mdi-heart
                      v-icon(v-else color="white") mdi-heart-outline       
            //v-img(:lazy-src="offer.images[0]" min-height="200px")
              template(v-slot:placeholder)
                v-layout(fill-height
                    align-center
                    justify-center
                    ma-0)
                  v-progress-circular(indeterminate color="grey lighten-5")
            v-card-title
              nuxt-link.offer-title(:to="`/offers/${offer.id}`") {{ offer.title }}
            v-card-text(v-if="offer.price" style="")
              nuxt-link.offer-title-price(:to="`/offers/${offer.id}`" color="secondary") {{ offer.price }} ₽/мес            
            v-card-actions.card-actions
                  v-icon(light small) mdi-clock-outline
                  .caption &nbsp;{{ $moment(offer.publishedAt).fromNow()  }}
                  v-spacer
                  .caption  {{offer.views || 1}}&nbsp;
                  v-icon(light small) mdi-eye
                  
</template>

<script>
export default {
  props: ["offer"],
  computed: {
    isFave() {
      return this.$store.state.localStorage.faveList.find(
        x => x === this.offer.id
      );
    }
  },
  methods: {
    addToFave() {
      console.log("fave", this.offer.id);
      this.$store.commit("localStorage/toggleFave", this.offer.id);
    }
  }
};
</script>

<style scoped>
.offer-list-item-like {
  top: 0;
  right: 0;
  margin: 16px 16px 0 0;
  position: absolute;
}
.offer-title {
  height: 18px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}
.offer-title-price {
  height: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
}
.offer-avatar-container {
  position: relative;
  background-color: #fff;
}
.offer-avatar-halo {
  background-color: #fff;
  position: absolute;
  right: 16px;
  top: -24px;
  padding: 3px;
  border-radius: 50%;
}
.offer-avatar {
}

.card-actions {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(100, 100, 100, 0.2);
}
</style>
