<template lang="pug">
v-layout(v-observe-visibility="visibilityChanged")
  v-chip.ma-4(v-if="!isLoaded") Загрузка...
  v-chip.mx-2.my-4(v-if="this.parsedOffer && this.parsedOffer.price") {{ this.parsedOffer.price }}₽
  v-chip.mx-2.my-4(v-if="this.parsedOffer && this.parsedOffer.searchType") {{ this.parsedOffer.searchTypeTitle }}
  v-chip.mx-2.my-4(v-if="this.parsedOffer && this.parsedOffer.buildTypeTitle") {{ this.parsedOffer.buildTypeTitle }}
  v-chip.mx-2.my-4(v-if="this.parsedOffer && this.parsedOffer.roomCount") {{ this.parsedOffer.roomCountTitle }} ком.

</template>

<script>
export default {
  props: ["text"],
  data() {
    return {
      isLoaded: false,
      parsedOffer: null
    };
  },
  watch: {
    async text() {
      this.isLoaded = false;
      await this.parse();
    }
  },
  methods: {
    async parse() {
      const { result } = await this.$api("offers.parse", {
        text: this.text
      });
      this.parsedOffer = result;
      this.isLoaded = true;
      this.$emit("loaded", this.parsedOffer);
    },
    async visibilityChanged(isVisible) {
      if (isVisible) {
        await this.parse();
      }
    }
  }
};
</script>
