<template lang="pug">
v-layout
  v-flex
    v-card
      v-card-title {{ title }} 
      v-card-text
        v-container(fluid )
          v-row 
            v-col(cols="12")
              v-select(label="Город" :items="cities" v-model.number="offer.city" item-text="title" item-value="cityId") 
          v-row
            v-col(cols="12" md="6")
              v-select(label="Тип объявления" :items="searchTypeItems" v-model.number="offer.searchType")
            v-col(cols="12" md="6")
              v-select(label="Срок аренды" :items="rentDurationItems" v-model.number="offer.rentDuration")
            v-col(cols="12" md="6")
              v-select(label="Объект" :items="buildTypeItems" v-model.number="offer.buildType")
            v-col(cols="12" md="6" v-if="offer.buildType != 2")
              v-select(label="Количество комнат" :items="roomCountItems" v-model.number="offer.roomCount")
          v-row
            v-flex.pa-2
              v-textarea(label="Текст объявления" v-model="offer.comment" :auto-grow="true")
          v-row
            v-col(cols="12" md="4")
              v-text-field(label="Сумма" type="number" v-model.number="offer.price")
            v-col(cols="12" md="4")
              v-text-field(label="Адрес" v-model="offer.address")
            v-col(cols="12" md="4")
              v-autocomplete(label="Метро" v-model.number="offer.metro" :items="metros" item-text="title" item-value="id")
          v-row
            no-ssr
              yandex-map.yandex-map-box(
                :coords="[offer.lat,offer.lon]"
                :controls="['zoomControl']"
                )
                ymap-marker(
                  marker-id="test"
                  :coords="[offer.lat,offer.lon]")
          v-row 
            v-file-input(
                label="Изображения"
                placeholder="Добавьте фотографии объявления"
                accept="image/png, image/jpeg, image/bmp"
                prepend-icon="mdi-camera"
                multiple
                @change="fileChange"
                :value="uploadValue"
                :loading="uploadLoading"
                ref='uploadInput')
          v-row
            v-col(cols="12" sm="4" md="3" lg="2" v-for="img, index in offer.images" :key="index")
                v-card( flat)
                    v-img(:src="img.url" height="200")
          v-row(v-if="offer.source")
            v-col(cols="12")
              v-text-field(v-model="offer.source" label="Источник")
      v-card-actions
        v-spacer
        v-btn(color="primary" @click="save" :loading="saveLoading") {{ saveTitle }}
</template>

<script>
import axios from "axios";

export default {
  props: {
    offer: {
      default: {
        lat: 59.95,
        lon: 30.3,
        images: []
      }
    },
    metros: {},
    isCreate: {
      default: false
    },
    title: { default: "Редактирование объявления" },
    saveTitle: { default: "Сохранить" },
    cities: null
  },
  data() {
    return {
      locationSource: null,
      locationCancelToken: null,
      rentDurationItems: [
        { text: "Длительный", value: 3 },
        { text: "Суточно", value: 1 },
        { text: "Несколько месяцев", value: 2 }
      ],
      searchTypeItems: [
        { text: "Хочу снять", value: 1 },
        { text: "Сдаю", value: 2 },
        { text: "Ищу соседа", value: 3 }
      ],
      buildTypeItems: [
        { text: "Квартира", value: 1 },
        { text: "Комната", value: 2 },
        { text: "Дом", value: 3 }
      ],
      roomCountItems: [
        { text: "Студия", value: 4 },
        { text: "1", value: 1 },
        { text: "2", value: 2 },
        { text: "3+", value: 3 }
      ],

      uploadValue: [],
      uploadLoading: false,

      saveLoading: false
    };
  },
  computed: {
    address() {
      return this.offer.address;
    }
  },
  watch: {
    async address() {
      if (this.address === "") {
        console.info("address is nil");
        return;
      }
      try {
        if (this.locationSource) {
          this.locationSource.cancel("Operation canceled by the user.");
        }
        this.locationCancelToken = axios.CancelToken;
        this.locationSource = this.locationCancelToken.source();
        const { result } = await this.$api(
          "geo.location",
          { query: this.address },
          { cancelToken: this.locationSource.token }
        );
        this.coords = [result.lat, result.lon];
        this.offer.lat = result.lat;
        this.offer.lon = result.lon;
        console.log(result);
      } catch (e) {
        console.error(e);
      }
    }
  },
  methods: {
    async fileChange(files) {
      this.$refs.uploadInput.value = "";
      this.uploadLoading = true;
      await Array.from(files).forEach(async (file, index) => {
        await this.upload(file, index);
      });
      this.uploadLoading = false;
    },
    async upload(file, index) {
      const uploadUrl = "/api/v1/upload";
      const formData = new FormData();
      formData.append("file", file);
      console.info(index, file);
      const response = await this.$axios.post(uploadUrl, formData, {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      });
      this.offer.images.push({ url: response.data.url });
    },
    async save() {
      this.saveLoading = true;
      let method = "offers.fastUpdate";
      let successText = "Объявление обновлено";
      if (this.isCreate) {
        method = "offers.fastCreate";
        successText = "Объявление успешно создано";
      }
      const { result, error } = await this.$api(method, {
        offerRequest: { ...this.offer }
      });
      if (error) {
        this.$store.commit("showErrorSnackbar", error.message);
      } else {
        if (this.isCreate) {
          await this.$router.push(`/offers/${result}`);
        }
        this.$store.commit("showSnackbar", successText);
      }
      this.saveLoading = false;
    }
  }
};
</script>

<style>
.yandex-map-box {
  height: 40vh;
  width: 100%;
}
</style>
