<template lang="pug">
      v-dialog(v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition")
        template(v-slot:activator="{ on }")
          v-btn.filter-btn(fab @click="sheet = !sheet" v-on="on")
            v-icon mdi-filter-variant
        v-card
          v-toolbar(dark color="primary")
            v-btn(icon dark @click="dialog = false")
              v-icon close
            v-toolbar-title Фильтры
          v-list(three-line subheader)
            v-subheader Настройки поиска
            v-list-item
              v-list-item-content
                v-list-item-title Что ищем?
                v-list-item-subtitle 
                  v-radio-group(v-model="selectedFilters.searchType" row)
                    v-radio(
                      v-for="item,i in searchFilters.searchType"
                      :key="i"
                      :label="item.text"
                      :value="item.id"
                    )
            v-list-item
              v-list-item-content
                v-list-item-title Срок аренды
                v-list-item-subtitle 
                  v-radio-group(v-model="selectedFilters.rentDuration" row)
                    v-radio(
                      v-for="item,i in searchFilters.rentDuration"
                      :key="i"
                      :label="item.text"
                      :value="item.id"
                    )
            v-list-item
              v-list-item-content
                v-list-item-title Тип жилья
                v-list-item-subtitle 
                  v-radio-group(v-model="selectedFilters.buildType" row)
                    v-radio(
                      v-for="item,i in searchFilters.buildType"
                      :key="i"
                      :label="item.text"
                      :value="item.id"
                    )
            v-list-item
              v-list-item-content
                v-list-item-title Бюджет
                v-list-item-subtitle 
                  v-row 
                    v-col
                      v-text-field(label="от" type="number" v-model.number="selectedFilters.priceFrom") 
                    v-col
                      v-text-field(label="до" type="number" v-model.number="selectedFilters.priceTo") 
            v-list-item
              v-list-item-content
                v-list-item-title Метро
                v-autocomplete(label="Метро" chips multiple v-model="selectedFilters.metros" :items="metros" item-text="title" item-value="id")
          v-card-actions.mb-50
            v-btn(color="primary" block @click="dialog = false") Показать результаты
</template>

<script>
export default {
  data() {
    let ids = [];
    try {
      const arr = this.$route.query.ids.split(",");
      if (arr.length > 1) {
        ids = arr.map(x => parseInt(x));
      }
    } catch (e) {
      console.error(e);
    }
    const sf = JSON.parse(
      JSON.stringify(this.$store.state.localStorage.selectedFilters)
    );
    sf.ids = ids;
    console.log("ids", sf);
    return {
      metros: [],
      offset: 0,
      selectedFilters: sf,
      searchFilters: {
        rentDuration: [
          { text: "Длительный", id: 3 },
          { text: "Посуточно", id: 1 }
        ],
        buildType: [
          { text: "Комната", id: 2 },
          { text: "Квартира", id: 1 },
          { text: "Дом", id: 3 }
        ],
        searchType: [
          { text: "Ищу гнёздышко", id: 1 },
          { text: "Ищу гнездоискателя", id: 2 },
          { text: "Ищу соседа", id: 3 }
        ]
      },
      dialog: false,
      sheet: false,
      activeBtn: 1,
      offers: [],
      tabs: [{ id: 1, title: "Карта", to: "/search/map" }],
      tabsModel: null,
      todayCount: 0
    };
  },
  watch: {
    selectedFilters: {
      deep: true,
      handler() {
        this.$emit("update", this.selectedFilters);
        this.offset = 0;
        this.$store.commit(
          "localStorage/setSelectedFilters",
          JSON.parse(JSON.stringify(this.selectedFilters))
        );
        this.fetchOffers(false);
      }
    }
  },
  methods: {
    async fetchOffers(isDelta) {
      const cityId = this.$store.state.localStorage.city.id;

      const { result } = await this.$api("offers.fastcards", {
        search: {
          ...this.selectedFilters,
          offset: this.offset,
          city: cityId,
          priceTo: parseInt(this.selectedFilters.priceTo)
        },
        isMap: false
      });

      this.todayCount = result.todayCount;

      if (isDelta) {
        const offers = this.offers;
        result.offers.forEach(candidate => {
          const finded = offers.find(x => x.id === candidate.id);
          if (!finded) {
            console.log("new offer", candidate);
            offers.push(candidate);
          } else {
            console.log("old offer", candidate.id);
          }
        });
        this.offers = offers;
      } else {
        this.offers = result.offers;
      }
    },
    loadMore() {
      this.offset = this.offers.length;
    }
  }
};
</script>

<style lang="stylus">
.mb-50 {
  margin-bottom: 50px;
}
</style>
