<template lang="pug">
div
  no-ssr
    div
      button(id="pick-avatar") Загрузить новое изображение профиля
      avatar-cropper(
        @uploaded="handleUploaded"
        trigger="#pick-avatar"
        upload-url="/api/v1/upload"
        :labels=`{ submit: "Сохранить", cancel: "Отмена"}`)
      img(:src="imgDataUrl" height="50px")
</template>

<script>
export default {
  model: {
    prop: "imgDataUrl",
    event: "onUpload"
  },
  props: ["imgDataUrl"],
  data() {
    return {};
  },
  methods: {
    handleUploaded(resp) {
      this.imgDataUrl = resp.url;
      this.$emit("onUpload", this.imgDataUrl);
    }
  }
};
</script>

<style lang="css" scoped></style>
