<template lang="pug">
v-layout
  v-flex
    v-card
      v-card-title Редактирование профиля
      v-card-text
          v-row
            v-col(cols="12") 
              ug-avatar-cropper(v-model="user.avatarUrl")
            v-col(cols="12" sm="6")
              v-text-field(label="Имя" v-model="user.firstName")
            v-col(cols="12" sm="6")
              v-text-field(label="Фамилия" v-model="user.lastName")
          .headline Контакты
          v-row
            v-col(cols="12" sm="6" v-if="user.email")
              v-text-field(label="Email" v-model="user.email" readonly)
            v-col(cols="12" sm="6" v-if="user.vkId")
              a(:href="vkLink" target="_blank") Профиль ВКонтакте
          .headline Статус модератора
          v-row
            v-col(cols="12")
              div(v-if="$auth.user.isModerator") Вы - модератор
              div(v-else) Вы - не модератор
          .headline Сменить пароль
           v-row
             v-col(cols="12" sm="6")
               v-text-field(label="Новый пароль" type="password" v-model="user.password")
             v-col(cols="12" sm="6")
               v-text-field(
                   label="Повторите новый пароль"
                   type="password"
                   v-model="passwordRetype"
                   :error-messages="retypeError")
      v-card-actions
        v-btn(color="secondary" @click="logout") Выйти из аккаунта
        v-spacer
        v-btn(color="primary" @click="saveUser") Сохранить     
</template>

<script>
import UgAvatarCropper from "~/components/UgAvatarCropper.vue";

export default {
  components: {
    UgAvatarCropper
  },
  props: ["user"],
  data() {
    return {
      passwordRetype: null,
      retypeError: false
    };
  },
  computed: {
    vkLink() {
      return `https://vk.com/id${this.user.vkId}`;
    }
  },
  methods: {
    async saveUser() {
      if (!!this.user.password && this.passwordRetype !== this.user.password) {
        this.retypeError = "Введенные пароли не совпадают";
        return;
      } else {
        this.retypeError = false;
      }
      await this.$api("users.update", {
        user: this.user
      });
    },
    logout() {
      this.$auth.logout();
    }
  }
};
</script>
