<template lang="pug">
div.position-relative
  .headline {{ title }}
  .caption Новых объявлений за сегодня: {{ todayCount }}
  OfferList(:offers="offers")
  .buttons
    search-dialog(@update="onFiltersUpdate")


  //.text-center.pb-5
    v-btn(large @click="loadMore" v-if="offers.length") Загрузить ещё
  //v-bottom-navigation(app grow :value="activeBtn")
    v-btn(to="/search/map")
      span Карта
      v-icon mdi-map-marker
    v-btn( @click="sheet = !sheet")
      span Объявления
      v-icon mdi-format-list-bulleted-square
</template>

<script>
import OfferList from "~/components/OfferList";
import SearchDialog from "~/components/SearchDialog";

export default {
  components: {
    OfferList,
    SearchDialog
  },
  data() {
    let ids = [];
    try {
      const arr = this.$route.query.ids.split(",");
      if (arr.length > 1) {
        ids = arr.map(x => parseInt(x));
      }
    } catch (e) {
      console.error(e);
    }
    const sf = JSON.parse(
      JSON.stringify(this.$store.state.localStorage.selectedFilters)
    );
    sf.ids = ids;
    console.log("ids", sf);
    return {
      offset: 0,
      selectedFilters: sf,
      searchFilters: {
        rentDuration: [
          { text: "Длительный", id: 3 },
          { text: "Посуточно", id: 1 }
        ],
        buildType: [
          { text: "Комната", id: 2 },
          { text: "Квартира", id: 1 },
          { text: "Дом", id: 3 }
        ],
        searchType: [
          { text: "Ищу гнёздышко", id: 1 },
          { text: "Ищу гнездоискателя", id: 2 },
          { text: "Ищу соседа", id: 3 }
        ]
      },
      dialog: false,
      sheet: false,
      activeBtn: 1,
      offers: [],
      tabs: [{ id: 1, title: "Карта", to: "/search/map" }],
      tabsModel: null,
      todayCount: 0
    };
  },
  computed: {
    title() {
      switch (this.selectedFilters.buildType) {
        case 1:
          return "Квартиры";
        case 2:
          return "Комнаты";
        case 3:
          return "Дома";
      }
      return "Комнаты";
    }
  },
  watch: {
    async offset() {
      await this.fetchOffers(true);
    }
  },
  async asyncData({ app }) {
    const metroResp = await app.$api("metros.list");
    return {
      metros: metroResp.result
    };
  },
  created() {
    this.fetchOffers();
  },
  methods: {
    onFiltersUpdate(sf) {
      this.selectedFilters = sf;
      this.offset = 0;
      this.fetchOffers(false);
    },
    async fetchOffers(isDelta) {
      const cityId = this.$store.state.localStorage.city.id;

      const { result } = await this.$api("offers.fastcards", {
        search: {
          ...this.selectedFilters,
          offset: this.offset,
          city: cityId,
          priceTo: parseInt(this.selectedFilters.priceTo)
        },
        isMap: false
      });

      this.todayCount = result.todayCount;

      if (isDelta) {
        const offers = this.offers;
        result.offers.forEach(candidate => {
          const finded = offers.find(x => x.id === candidate.id);
          if (!finded) {
            console.log("new offer", candidate);
            offers.push(candidate);
          } else {
            console.log("old offer", candidate.id);
          }
        });
        this.offers = offers;
      } else {
        this.offers = result.offers;
      }
    },
    loadMore() {
      this.offset = this.offers.length;
    }
  }
};
</script>

<style scoped>
/* Helper classes */
.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #356859 !important;
}
.yandex-map-box {
  height: 400px;
  width: 400px;
}

.position-relative {
  position: relative;
  min-height: 100vh;
}
.buttons {
  position: fixed;
  right: 15px;
  bottom: 40vh;
  z-index: 99999999;
}
.filter-btn {
  display: block;
  margin-bottom: 15px;
}
</style>
