<template lang="pug">
v-layout.position-relative
    no-ssr
        yandex-map.yandex-map-box(
          :coords="mapBounds.coords"
          :controls="controls"
          :zoom="mapBounds.zoom"
          @map-was-initialized="mapInitialized"
          )
           ymap-marker(
            v-for="item,i in points"
            :key="i"
            :marker-id="i"
            :icon="{content:getPlacemarkLabel(item)}"
            :options="{preset:getPlacemarkIcon(item)}"
            :coords="[item.lat,item.lon]"
            :callbacks="{click:onItemClick(item)}")
    .buttons
          v-btn.filter-btn(fab @click="toSearch")
            v-icon mdi-post-outline
          search-dialog(@update="onFilterUpdated")

    //v-bottom-sheet(v-model="sheet" scrollable inset)
      v-card
        v-card-text(style="height:1500px") 
          offer-list-item(:offer="selectedOffer")
</template>

<script>
import OfferList from "~/components/OfferList";
import OfferListItem from "~/components/OfferListItem";
import SearchDialog from "~/components/SearchDialog";

export default {
  components: {
    OfferList,
    OfferListItem,
    SearchDialog
  },
  layout: "map",
  data() {
    return {
      activeClusterId: null,
      sheet: false,
      controls: [],
      offers: [],
      items: [{}, {}],
      map: null
    };
  },
  // async asyncData ({ app, store }) {
  //   let bounds = store.state.localStorage.mapBounds || { coords: [59.95, 30.3], zoom: 8 }
  //   let { result, error } = await app.$api('offers.fastcards', {
  //     search: {
  //       zoom: bounds.zoom,
  //       bounds: bounds.bounds
  //     },
  //     isMap: true
  //   })
  //   if (error) {
  //     app.$toast.show('Что-то пошло не так: ', error)
  //   } else {
  //     console.log(result)
  //     return {
  //       offers: result.offers,
  //       points: result.points
  //     }
  //   }
  // },
  computed: {
    mapBounds: {
      get() {
        return (
          this.$store.state.localStorage.mapBounds || {
            coords: [59.95, 30.3],
            zoom: 8
          }
        );
      },
      set(mapBounds) {
        this.$store.commit("localStorage/setMapBounds", mapBounds);
      }
    },
    text() {
      return this.activeClusterId;
    },
    selectedOffer() {
      if (!this.activeClusterId) {
        return false;
      }
      return this.offers.find(x => x.id === this.activeClusterId);
    },
    clusterCallbacks() {
      const self = this;
      return {
        offers: {
          click(e, b) {
            console.log("cluster coords", e);
            self.map.geoObjects.each(o => {
              // это clusterer
              // let object = o.objects.getById(e.get('objectId'))
              // console.log('clicked', object, self.map.geoObjects.getById(e.get('objectId')))
            });
            // console.log('lcuster clicked', e, self.map.geoObjects)
            e.preventDefault();
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.disallowMapEvent();
            return false;
          }
        }
      };
    }
  },
  created() {
    this.fetchOffers();
  },
  methods: {
    onFiltersUpdated(sf) {
      this.selectedFilters = sf;
      this.fetchOffers();
    },
    toSearch() {
      this.$router.push("/search");
    },
    getPlacemarkLabel(item) {
      if (item.type === "cluster") {
        return item.items.length;
      }
      return "";
    },
    getPlacemarkIcon(item) {
      if (item.type === "cluster") {
        return "islands#blueCircleIcon";
      }
      return "islands#blueCircleDotIcon";
    },
    onItemClick(item) {
      const self = this;
      return async () => {
        switch (item.type) {
          case "cluster":
            await self.$router.push("/search?ids=" + item.items.join(","));
            break;
          case "point":
            await self.$router.push("/offers/" + item.id);
            break;
        }
        console.log(item);
        // this.activeClusterId = id
        // this.sheet = true
      };
    },
    mapInitialized(map) {
      const self = this;
      self.map = map;
      map.events.add("boundschange", function(e) {
        console.log("dragend", e.get("newCenter"), e.get("newZoom"));
        // let coords = e.get('newCenter')
        const bounds = e.get("newBounds");
        const zoom = e.get("newZoom");
        self.$store.commit("localStorage/setMapBounds", {
          coords: e.get("newCenter"),
          zoom: e.get("newZoom"),
          bounds: e.get("newBounds")
        });
        const sf = JSON.parse(
          JSON.stringify(self.$store.state.localStorage.selectedFilters)
        );
        sf.bounds = bounds;
        sf.zoom = zoom;
        self.$store.commit(
          "localStorage/setSelectedFilters",
          JSON.parse(JSON.stringify(sf))
        );
        self.fetchOffers();
      });
    },
    async fetchOffers() {
      const cityId = this.$store.state.localStorage.city.id;
      const { result } = await this.$api("offers.fastcards", {
        search: {
          ...this.$store.state.localStorage.selectedFilters,
          city: cityId,
          priceTo: parseInt(
            this.$store.state.localStorage.selectedFilters.priceTo
          )
        },
        isMap: true
      });
      this.offers = result.offers;
      this.points = result.points;
    }
  }
};
</script>

<style scoped>
/* Helper classes */
.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #356859 !important;
}
.yandex-map-box {
  height: 100vh;
  width: 100%;
}
.position-relative {
  position: relative;
}
.buttons {
  position: absolute;
  right: 15px;
  bottom: 40vh;
}
.filter-btn {
  display: block;
  margin-bottom: 15px;
  z-index: 99999999;
}
</style>
