<template lang="pug">
    v-layout(align-center justify-center)
        v-flex(xs12 sm8 md4)
            v-card.elevation-1
                v-card-text
                  .headline Войдите через вконтакте
                v-card-actions
                  v-btn(
                    :href="authUrl"
                     color="#2a5885"
                      dark
                    )
                      v-icon fab fa-vk
                v-card-text
                    .headline или используйте email
                    v-form
                        v-text-field(prepend-icon="person" name="login" v-model="login" label="Email" type="text")
                        v-text-field(id="password" prepend-icon="lock" name="password" v-model="password" label="Пароль" type="password")
                        v-text-field(id="passwordRetupe" prepend-icon="lock" name="password" v-model="passwordRetupe" label="Повторите пароль" type="password")
                v-card-actions
                  
                v-card-actions
                    
                    nuxt-link(to="/auth/signin") Есть аккаунт?
                    v-spacer
                    v-btn(color="primary" large @click.prevent="onSubmit") Зарегистрироваться
</template>

<script>
export default {
  data() {
    return {
      login: null,
      password: null,
      passwordRetupe: null,
      googleSignInParams: {
        client_id:
          "77352596503-m8debeo2s45fhaa45cd290vusu1o7bm5.apps.googleusercontent.com"
      },
      redirectUrl: "https://m.ugnest.com/auth/vk/callback"
    };
  },
  computed: {
    authUrl() {
      return `https://oauth.vk.com/authorize?client_id=6355667&redirect_uri=${this.redirectUrl}&response_type=code`;
    }
  },
  methods: {
    async onSubmit() {
      const { result, error } = await this.$api("auth.reg", {
        phone: this.login,
        password: this.password
      });
      if (error) {
        console.error(error);
        this.$toast.show("Что-то пошло не так: ", error);
      } else {
        this.$toast.show("Добро пожаловать!");
        await this.$auth.setToken("local", result.token);
        await this.$auth.fetchUser();
        await this.$router.push("/");
      }
    },
    onSignInSuccess(googleUser) {
      // `googleUser` is the GoogleUser object that represents the just-signed-in user.
      // See https://developers.google.com/identity/sign-in/web/reference#users
      const profile = googleUser.getBasicProfile(); // etc etc
      console.log(profile);
      console.log(googleUser.getAuthResponse().id_token);
    },
    onSignInError(error) {
      // `error` contains any error occurred.
      console.log("OH NOES", error);
    }
  }
};
</script>
