<template lang="pug">
    v-layout(align-center justify-center)
        v-flex(xs12 sm8 md4)
            v-card.elevation-1
                v-card-text
                    v-alert(v-if="showSuccessMessage" type="success") Email со ссылкой на сброс пароля успешно отправлен
                    v-alert(v-if="error" type="error") {{ error }}
                    div Сброс пароля
                    v-form
                        v-text-field(prepend-icon="person" name="login" v-model="login" label="Email" type="text")
                v-card-actions
                    nuxt-link(to="/auth/signin") Отмена
                    v-spacer
                    v-btn(color="primary" large @click.prevent="restore") Сбросить пароль
</template>

<script>
export default {
  data() {
    return {
      login: "",
      showSuccessMessage: false,
      error: false
    };
  },
  created() {
    console.log(this.$route.query.reg);
    if (this.$route.query.reg) {
      this.reg = true;
    }
  },
  methods: {
    async restore() {
      this.error = false;
      this.showSuccessMessage = false;
      const { error } = await this.$api("auth.sendRestore", {
        login: this.login
      });
      if (error) {
        console.error(error);
        this.error = error.message;
      } else {
        this.showSuccessMessage = true;
      }
    }
  }
};
</script>
