<template lang="pug">
    v-layout(align-center justify-center)
        v-flex(xs12 sm8 md4)
            v-card.elevation-1(v-if="tokenValid")
                v-card-text
                    v-alert(v-if="showSuccessMessage" type="success") Email со ссылкой на сброс пароля успешно отправлен
                    v-alert(v-if="!passwordEqual" type="error") Введенные пароли не совпадают
                    v-alert(v-if="error" type="error") {{ error }}
                    div Придумайте новый пароль
                    v-form
                        v-text-field(prepend-icon="lock" id="password" name="password" v-model="password" label="Пароль" type="password")
                        v-text-field(prepend-icon="lock" id="passwordRetype" name="passwordRetype" v-model="passwordRetype" label="Повторите пароль" type="password")
                v-card-actions
                    nuxt-link(to="/auth/signin") Отмена
                    v-spacer
                    v-btn(color="primary" large @click.prevent="submitRestore") Сохранить пароль
            v-card.elevation-1(v-if="!tokenValid")
                v-card-text
                    v-alert(type="error") Срок действия ссылки истёк!
                    nuxt-link(to="/auth/restore") Восстановить пароль
</template>

<script>
export default {
  data() {
    return {
      password: "",
      passwordRetype: "",
      showSuccessMessage: false,
      error: false,

      tokenValid: false
    };
  },
  computed: {
    passwordEqual() {
      if (this.passwordRetype.length === 0) {
        return true;
      }
      if (this.password.startsWith(this.passwordRetype)) {
        return true;
      }
      return this.password === this.passwordRetype;
    }
  },
  async asyncData({ app, route }) {
    const { error } = await app.$api("auth.checkRestoreToken", {
      token: route.query.token
    });
    if (!error) {
      return {
        tokenValid: true
      };
    }
  },
  created() {
    console.log(this.$route.query.token);
    if (this.$route.query.token) {
      this.token = true;
    }
  },
  methods: {
    async submitRestore() {
      this.error = false;
      this.showSuccessMessage = false;
      const { result, error } = await this.$api("auth.confirmRestore", {
        password: this.password,
        token: this.$route.query.token
      });
      if (error) {
        console.error(error);
        this.error = error.message;
      } else {
        this.showSuccessMessage = true;
        await this.$auth.setToken("local", result.token);
        await this.$auth.fetchUser();
      }
    }
  }
};
</script>
