<template lang="pug">
    v-layout(align-center justify-center)
        v-flex(xs12 sm8 md4)
            v-card.elevation-1
                v-card-text
                  .headline Войдите через вконтакте
                v-card-actions
                    v-btn(
                      :href="authUrl"
                      color="#2a5885"
                      dark
                      )
                        v-icon fab fa-vk
                v-card-text
                    .headline или используйте email
                    v-form
                        v-text-field(prepend-icon="person" name="login" v-model="login" label="Email" type="text")
                        v-text-field(id="password" prepend-icon="lock" name="password" v-model="password" label="Пароль" type="password")
                        .text-lg-right 
                          nuxt-link(to="/auth/restore") забыли пароль?
                        v-text-field(v-if="reg" id="passwordRetupe" prepend-icon="lock" name="password" v-model="passwordRetupe" label="Повторите пароль" type="password")
                v-card-actions
                    nuxt-link(to="/auth/reg") Зарегистрироваться
                    v-spacer
                    v-btn(v-if="!reg" color="primary" large @click.prevent="onSubmit") Войти
                    v-btn(v-if="reg" color="primary" large @click.prevent="onSubmit") Зарегистрироваться
</template>

<script>
export default {
  data() {
    return {
      reg: false,
      login: "",
      password: "",
      redirectUrl: "https://m.ugnest.com/auth/vk/callback"
    };
  },
  computed: {
    authUrl() {
      return `https://oauth.vk.com/authorize?client_id=6355667&redirect_uri=${this.redirectUrl}&response_type=code`;
    }
  },
  created() {
    console.log(this.$route.query.reg);
    if (this.$route.query.reg) {
      this.reg = true;
    }
  },
  methods: {
    onSubmit() {
      this.$auth
        .loginWith("local", {
          data: {
            phone: this.login,
            password: this.password
          }
        })
        .then(() => {
          this.$toast.show("Успешная авторизация!");
          this.$router.push("/");
        })
        .catch(e => {
          this.$toast.error(`Неверный логин или пароль! (${e})`);
        });
    }
  }
};
</script>
