<template lang="pug">
    div {{ message }}
      nuxt-link(to="/") На главную
</template>

<script>
export default {
  data() {
    return {
      callbackUrl: null,
      message: "Загрузка..."
    };
  },
  async mounted() {
    if (process.browser) {
      console.log(window.location);
      this.callbackUrl = window.location.origin + window.location.pathname;
    } else {
      this.message = "Ошибка!";
      return;
    }

    const { result, error } = await this.$api("auth.loginWithVk", {
      redirectUri: this.callbackUrl,
      code: this.$route.query.code
    });

    if (error) {
      console.error(error);
    } else {
      await this.$auth.setToken("local", result.token);
      await this.$auth.fetchUser();
      window.location = window.location.origin;
      // await this.$router.push('/')
    }
    console.log(result, error);
  }
};
</script>
