<template lang="pug">
  v-app
    //v-navigation-drawer(
      v-model="drawer"
      fixed
      app)
      v-list(dense)
        v-list-item(
          router
          :to="item.to"
          @click="item.click"
          :key="i"
          v-for="(item, i) in rightMenuItems"
          exact)
          v-list-item-action
            v-icon(v-html="item.icon")
          v-list-item-content
            v-list-item-title(v-text="item.title")
    //v-app-bar(app fixed flat)
      v-app-bar-nav-icon(@click.stop="drawer = !drawer")
      v-toolbar-title(v-text="$store.state.title")
      v-spacer
      v-menu(v-if="hasDotMenu" bottom left)
        template(v-slot:activator="{ on }")
          v-btn(icon v-on="on")
            v-icon more_vert
        v-list
          v-list-item(v-for="(item, i) in this.$store.state.nav.dotMenu"
                :key="i"
                :to="item.to")
            v-list-item-title {{ item.title }}
      template(v-if="hasTabs" v-slot:extension)
        v-tabs(v-model="tabModel"
            centered
            slider-color="yellow"
            background-color="transparent")
          v-tab(v-for="tab in tabs"
              :key="tab.id"
              :to="tab.to") {{ tab.title }}
    v-content
      v-container.np
        v-snackbar(v-model="errorSnackbar" :top="true" :color="$store.state.errorSnackbar.color" :timeout="4000") {{ $store.state.errorSnackbar.text }}
          v-btn(text @click="$store.commit('hideSnackbar')") Закрыть
        nuxt
    v-bottom-navigation(grow fixed)
      v-btn.h56(to="/search/map")
        span Карта
        v-icon mdi-map
      v-btn.h56(to="/search")
        span Список
        v-icon mdi-post-outline
      v-btn.h56(to="/profile")
        span Профиль
        v-icon mdi-account
    //v-footer(fixed app color="primary lighten-1" height="auto")
          v-layout(
           justify-space-between
           row
           wrap)
           v-btn(
             v-for="link in links"
             :key="link.icon"
             fab
             :to="link.to")
             v-icon(v-html="link.icon")
</template>

<script>
const LoggedIn = 2;
const LoggedOut = 3;
const IsModerator = 4;

export default {
  data() {
    return {
      drawer: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Уютное гнёздышко",
      links: [
        { icon: "message", to: "/" },
        { icon: "notifications", to: "/" },
        { icon: "search", to: "/" },
        { icon: "note_add", to: "/add" },
        { icon: "account_balance_wallet", to: "/" }
      ]
    };
  },
  computed: {
    rightMenuItems() {
      let items = [
        { icon: "apps", title: "Главная", to: "/" },
        { icon: "apps", title: "Выбрать город", to: "/choose-city" },
        { icon: "apps", title: "Поиск объявлений", to: "/search" },
        { icon: "apps", title: "Создать объявление", to: "/add" },
        { icon: "mdi-star", title: "Избранное", to: "/favelist" },
        // { icon: 'apps', title: 'Уведомления', to: '/notifications' },
        {
          icon: "account_box",
          title: "Мои объявления",
          to: "/my",
          show: LoggedIn
        },
        {
          icon: "account_box",
          title: "Войти",
          to: "/auth/signin",
          show: LoggedOut
        },
        { icon: "person", title: "Профиль", to: "/me", show: LoggedIn },
        {
          icon: "person",
          title: "Модерация",
          to: "/moderation",
          show: IsModerator
        },
        {
          icon: "person",
          title: "Выйти",
          click: () => this.$auth.logout(),
          show: LoggedIn
        }
      ];

      items = items.filter(x => {
        switch (x.show) {
          case LoggedIn:
            return !!this.$auth.loggedIn;
          case LoggedOut:
            return !this.$auth.loggedIn;
          case IsModerator:
            return !!this.$auth.loggedIn && this.$auth.user.isModerator;
          default:
            return true;
        }
      });
      return items;
    },
    tabs() {
      return this.$store.state.nav.tabs;
    },
    hasTabs() {
      return this.$store.state.nav.showTabs;
    },
    tabModel: {
      get() {
        return this.$store.state.nav.model;
      },
      set(value) {
        this.$store.commit("nav/setModel", value);
      }
    },
    hasDotMenu() {
      if (this.$store.state.nav.dotMenu) {
        return this.$store.state.nav.dotMenu.length > 0;
      }
      return false;
    },
    errorSnackbar: {
      get() {
        return this.$store.state.errorSnackbar.show;
      },
      set() {
        this.$store.commit("hideSnackbar");
      }
    }
  },
  watch: {
    $route() {
      switch (this.$route.name) {
        case "reg":
          this.$store.commit("setTitle", "Регистрация");
          break;
        case "login":
          this.$store.commit("setTitle", "Авторизация");
          break;
        default:
          this.$store.commit("setTitle", "Уютное гнёздышко");
      }

      this.$store.commit("nav/hideDotMenu");
    }
  }
};
</script>

<style lang="stylus">
.np {
  padding: 0;
  padding-bottom: 200px;
}

.h56 {
  height: 56px !important;
}
</style>
