<template lang="pug">
v-layout(align-center justify-center)
    v-flex(xs12 sm8 md4)
        v-card.elevation-1.tile.mx-auto
            v-card-title Вы в {{ city }}
            v-card-text
                v-list
                    v-list-item-group(v-model="choosenCity" mandatory)
                        v-list-item(
                                    v-for="city in cities"
                                    :key="city.id")
                            v-list-item-content
                                v-list-item-title(v-text="city.title")
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  data: () => ({
    cities: [
      { title: "Санкт-Петербург", where: "Санкт-Петербурге", id: 1 },
      { title: "Москва", where: "Москве", id: 2 }
    ],
    choosenCity: 1
  }),
  computed: {
    cityId() {
      let id = 1;
      try {
        id = this.$store.state.localStorage.city.id;
      } catch (e) {
        console.error(e);
      }

      return id;
    },
    city() {
      return this.$store.getters["localStorage/getCity"]().where;
    }
  },
  watch: {
    choosenCity() {
      try {
        console.log(
          "save choosen city to localStorage",
          this.choosenCity,
          this.cities[this.choosenCity]
        );
        this.$store.commit(
          "localStorage/setCity",
          this.cities[this.choosenCity]
        );
      } catch (e) {
        console.error("cannot save city to local storage: ", e);
      }
    }
  },
  created() {
    console.log(this.$store);
    for (let i = 0; i < this.cities.length; i++) {
      const element = this.cities[i];
      if (element.id === this.$store.state.localStorage.city.id) {
        this.choosenCity = i;
      }
    }
  }
});
</script>
