<template lang="pug">
v-layout 
  OfferList(:offers="offers")
</template>

<script>
import OfferList from "~/components/OfferList";

export default {
  components: {
    OfferList
  },
  async asyncData({ app, store }) {
    const { result } = await app.$api("offers.fastcards", {
      search: {
        ids: store.state.localStorage.faveList
      }
    });
    return { offers: result.offers };
  }
};
</script>
