<template lang="pug">
  v-layout(column justify-center align-center)
    v-flex(xs12 sm8 md6)
      v-card
        v-card-title.headline Сайт для поиска жилья и арендаторов
        v-card-text 
          v-row
            v-col(cols="12" md="6") 
              v-btn(color="primary" to="/search") Перейти на страницу поиска
        v-card-text Уютное гнёздышко - площадка без агентов и мошенников, сообщество, которое самоорганизуется каждый день с 2013 года благодаря Вам, живым людям, с естественными потребностями в жилье, жильцах и соседях.
    .headline.mt-4 Новых объявлений за сегодня: {{ published }}
    OfferList(:offers="offers")
    //v-btn(to="/search") Показать все объявления
</template>

<script>
import OfferList from "~/components/OfferList";

export default {
  components: {
    OfferList
  },
  async asyncData({ app, store }) {
    const cityId = store.state.localStorage.city.id;
    const { result } = await app.$api("offers.fastcards", {
      search: {
        ...store.state.localStorage.selectedFilters,
        city: cityId,
        buildType: 0,
        priceTo: parseInt(store.state.localStorage.selectedFilters.priceTo)
      },
      isMap: false
    });
    const statRes = await app.$api("offers.stats");
    return { offers: result.offers, published: statRes.result.published };
  }
};
</script>
