<template lang="html">
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-1">
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="phone"
              prepend-icon="person"
              name="login"
              label="Номер телефона"
              type="text"
            ></v-text-field>
            <v-text-field
              id="password"
              v-model="password"
              prepend-icon="lock"
              name="password"
              label="Пароль"
              type="password"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt to="/reg">Регистрация</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" large @click.prevent="onSubmit">Войти</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    source: String
  },
  data: () => ({
    drawer: null,
    phone: "",
    password: ""
  }),
  methods: {
    onSubmit() {
      this.$auth
        .loginWith("local", {
          data: {
            phone: this.phone,
            password: this.password
          }
        })
        .then(() => {
          this.$toast.show("Успешная авторизация!");
          this.$router.push("/");
        })
        .catch(e => {
          this.$toast.error(`Неверный логин или пароль! (${e})`);
        });
    }
  }
};
</script>

<style lang="css"></style>
