<template lang="pug">
    user-profile(:user="user")
</template>

<script>
import UserProfile from "~/components/UserProfile.vue";

export default {
  components: {
    UserProfile
  },
  async asyncData({ app }) {
    const { result } = await app.$api("users.me");
    return {
      user: result
    };
  },
  methods: {
    logout() {
      this.$auth.logout();
    }
  }
};
</script>
