<template lang="pug">
div
  OfferList(:offers="offers")
</template>

<script>
import OfferList from "~/components/OfferList";

export default {
  components: {
    OfferList
  },
  async asyncData({ app }) {
    const { result } = await app.$api("offers.fastCards", {
      search: {
        statuses: [10, 11, 12],
        userId: app.$auth.user.userId
      }
    });
    return {
      offers: result.offers
    };
  }
};
</script>
