<template lang="pug">
v-layout
  v-row
    v-col(cols="6")
      v-card
        v-card-title Парсер объявлений
        v-card-text
          v-textarea(
            label="Текст объявления"
            :auto-grow="true"
            v-model="text")
    v-col(cols="6")
      v-card
        v-card-title Результат
        v-card-text 
          v-list
            v-list-item-group
              v-list-item(v-for="item,i in listItems" :key="i")
                v-list-item-content
                  v-list-item-title {{ item.title }}: {{parsedField(item.title)}}
    
</template>

<script>
export default {
  data() {
    return {
      text: "",
      listItems: [
        { title: "Хэштеги" },
        { title: "Полный адрес" },
        { title: "Метро" },
        { title: "Улица" },
        { title: "Дом" }
      ],
      parseResult: {}
    };
  },
  computed: {
    parsedMapping() {
      return {
        Метро: this.parseResult.metros
      };
    }
  },
  async asyncData({ app, route, store }) {
    const { result, error } = await app.$api("offers.parse", {
      text: route.query.text
    });
    if (error) {
      store.commit("showErrorSnackbar", error.message);
    } else {
      return { parseResult: result };
    }
    return {};
  },
  created() {
    console.log(this.$route);
    this.text = this.$route.query.text;
  },
  methods: {
    parsedField(title) {
      return this.parsedMapping[title];
    }
  }
};
</script>
