<template lang="pug">
v-layout
  v-list(style="width: 100%;")
    v-list-item-group
      div(v-for="item, i in menuItems" :key="i")
        v-list-item( :to="item.to" @click="item.click")
            v-list-item-icon
                v-icon(v-if="item.icon" v-text="item.icon")
                svg.svg(v-else viewBox="0 0 16 22" xmlns="http://www.w3.org/2000/svg" width="16" height="22" fill="")
                  path(d="M12.826 21.02h-1.158l-.76-2.343c.573-.697 1.05-1.465 1.418-2.284 2.996-3.98 4.095-6.863 3.126-8.696a3.7 3.7 0 0 0-1.368-1.241 3.78 3.78 0 0 0-1.808-.436l-.17-.43c0-.755-.54-5.588-4.175-5.588s-4.114 4.83-4.164 5.586a4.54 4.54 0 0 0-.17.431 3.78 3.78 0 0 0-1.842.421A3.7 3.7 0 0 0 .362 7.696c-1 1.794.08 4.716 3.126 8.696a.73.73 0 0 0 .09.078 10.31 10.31 0 0 0 1.528 2.372l-.7 2.177H3.238c-.132 0-.26.052-.353.144a.49.49 0 0 0-.146.347.48.48 0 0 0 .15.344c.094.09.22.144.35.146h1.898l.76-2.333a12.28 12.28 0 0 0 1.768 1.392l.28.176.27-.176a12.32 12.32 0 0 0 1.927-1.529l.8 2.47h1.888c.132 0 .26-.052.353-.144a.49.49 0 0 0 .146-.347.48.48 0 0 0-.038-.188.49.49 0 0 0-.108-.159.5.5 0 0 0-.162-.106.51.51 0 0 0-.191-.037zm1.748-12.863c.43.794.45 2.333-1.398 5.294a15.41 15.41 0 0 0-.559-6.422 2.56 2.56 0 0 1 1.115.336c.34.196.628.467.842.792zM7.942.98a2.59 2.59 0 0 1 1.313.396 2.51 2.51 0 0 1 .914 1.006H5.705a2.52 2.52 0 0 1 .92-1.008A2.59 2.59 0 0 1 7.942.98zm.77 2.94h-.08c-.06-.093-.148-.168-.25-.216a.23.23 0 0 1 .026-.147c.025-.045.065-.08.114-.1l1.268-.52c.06-.023.13-.02.188.005s.107.073.13.132a.22.22 0 0 1 .007.186c-.012.03-.03.056-.055.08a.23.23 0 0 1-.083.05l-1.268.53zm-1.468 0h-.1l-1.278-.57a.25.25 0 0 1-.13-.13.24.24 0 0 1-.001-.182.26.26 0 0 1 .146-.11c.06-.018.126-.014.184.012l1.268.54c.05.02.1.056.114.103s.03.1.016.15a.55.55 0 0 0-.22.186h-.01zM1.25 8.167a2.57 2.57 0 0 1 .864-.794 2.62 2.62 0 0 1 1.134-.333 15.48 15.48 0 0 0-.54 6.54C.8 10.53.8 8.96 1.24 8.157l.01.01zm6.7 11.892a10.87 10.87 0 0 1-1.708-1.431l.7-2.167a.48.48 0 0 0 .022-.191c-.006-.065-.024-.127-.055-.185a.51.51 0 0 0-.123-.15c-.05-.042-.1-.072-.173-.1a.5.5 0 0 0-.191-.022.49.49 0 0 0-.185.052.48.48 0 0 0-.15.118.49.49 0 0 0-.092.166l-.5 1.578c-3.785-5-.9-11.5-.76-11.853v-.176a8.58 8.58 0 0 1 .23-1.294h2.227V4.5a3.4 3.4 0 0 0 .75.922 3.39 3.39 0 0 0 .779-.922.29.29 0 0 0 0-.098h2.187a12.09 12.09 0 0 1 .2 1.314v.176c0 .06.15.343.3.794.6 1.667 1.618 5.578 0 9.206v.06a8.99 8.99 0 0 1-.909 1.569l-.45-1.402c-.02-.062-.05-.12-.093-.17s-.094-.1-.153-.12-.123-.047-.2-.05-.132.004-.194.026c-.126.04-.23.128-.3.244a.48.48 0 0 0-.03.374l.65 1.96a11.35 11.35 0 0 1-1.798 1.667zm2.8-7.675l-1.238-5.07L7.934 9.65 6.257 7.315l-1.1 5.088.98.196.62-2.882 1.188 1.657 1.12-1.647.7 2.892.98-.235z")
            v-list-item-content
                v-list-item-title(v-text="item.title")
        v-divider(v-if="item.divider")
</template>

<script>
const LoggedIn = 2;
const LoggedOut = 3;
const IsModerator = 4;
export default {
  data() {
    return {};
  },
  computed: {
    menuItems() {
      let items = [
        // { icon: "apps", title: "Выбрать город", to: "/choose-city" },
        // { icon: "mdi-post-outline", title: "Поиск объявлений", to: "/search" },
        // { icon: "apps", title: "Создать объявление", to: "/add" },
        // { icon: 'apps', title: 'Уведомления', to: '/notifications' },
        {
          icon: "mdi-file-document-outline",
          title: "Мои объявления",
          to: "/my",
          show: LoggedIn
        },
        { icon: "mdi-star", title: "Избранное", to: "/favelist" },

        {
          icon: "account_box",
          title: "Войти",
          to: "/auth/signin",
          show: LoggedOut
        },
        { icon: "person", title: "Профиль", to: "/me", show: LoggedIn },
        {
          customIcon: "moderator.svg",
          title: "Модерация",
          to: "/moderation",
          show: IsModerator,
          divider: true
        },
        {
          icon: "mdi-twitter",
          title: "Выйти",
          click: () => this.$auth.logout(),
          show: LoggedIn
        }
      ];

      items = items.filter(x => {
        switch (x.show) {
          case LoggedIn:
            return !!this.$auth.loggedIn;
          case LoggedOut:
            return !this.$auth.loggedIn;
          case IsModerator:
            return !!this.$auth.loggedIn && this.$auth.user.isModerator;
          default:
            return true;
        }
      });
      return items;
    }
  }
};
</script>

<style lang="stylus">
.svg {
  margin-left: 4px;
  fill: rgba(0, 0, 0, 0.64);
}
</style>
