<template lang="html">
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card>
        <v-card-text>
          <v-form>
            <v-text-field
              prepend-icon="smartphone"
              name="login"
              label="Номер телефона"
              type="number"
            ></v-text-field>
            <v-text-field
              v-if="codeSended"
              prepend-icon="confirmation_number"
              label="Код из СМС"
              type="number"
            ></v-text-field>
            <v-text-field
              v-if="codeSended"
              prepend-icon="lock"
              name="login"
              label="Пароль"
              type="text"
            ></v-text-field>
            <v-text-field
              v-if="codeSended"
              prepend-icon="lock"
              name="login"
              label="Повторите пароль"
              type="text"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt to="/login">Авторизация</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" large @click="sendCode">{{
            codeSended ? "Зарегистрироваться" : "Отправить код"
          }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      codeSended: false
    };
  },
  methods: {
    sendCode() {
      this.codeSended = true;
    }
  }
};
</script>

<style lang="css"></style>
