<template lang="pug">
v-layout
  v-card
    v-card-title Статистика за последние 12 часов
    v-card-text
      v-list
        v-list-item(v-for="item,i in stats" :key="i")
          v-list-item-content
            v-list-item-title {{ item.title }}
</template>

<script>
export default {
  data() {
    return {
      stat: {}
    };
  },
  computed: {
    stats() {
      return [
        { title: `Контактов открыто: ${this.stat.contactOpens}` },
        { title: `Объявлений опубликовано: ${this.stat.published}` },
        { title: `Всего просмотров: ${this.stat.views}` },
        { title: `Тикетов на модерации: ${this.stat.openTickets}` }
      ];
    }
  },
  async asyncData({ app }) {
    const { result } = await app.$api("offers.stats");
    return { stat: result };
  }
};
</script>
