<template lang="pug">
v-layout
  v-row
    v-col(cols="12") 
      v-btn(to="/moderation/public") Предложка
    v-col(cols="12")
      .headline Тикетов: {{ ticketsCount }}
    v-col(cols="12" v-if="ticketsCount==0")
      v-img(:src="require(`~/assets/il-placeholder.png`)" max-width="500px")
    v-col(cols="12" md="4")
      v-card(v-for="ticket,i in tickets" :key="i" )
        v-card-title 
          .headline(v-if="ticket.type == 2")
            nuxt-link(:to="`/offers/${ticket.objectId}`") {{ `#${ticket.id}` }} {{ ticket.title }}
          .headline(v-else) {{ ticket.title }}
        v-card-text {{ ticket.text }}
        v-card-actions
          v-row
            v-col(cols="12")
              v-text-field.mr-2(label="комментарий" v-model="comment")
            v-col(cols="12")
               v-btn(color="error" @click="reject") Отклонить
               v-btn(color="primary" @click="submit") Принять
         
</template>

<script>
export default {
  data() {
    return { comment: null };
  },
  computed: {
    tickets() {
      let tickets = [];
      if (this.ticketsCount > 0) {
        tickets = [this.$store.state.moderation.list[0]];
      }
      return tickets;
    },
    ticketsCount() {
      try {
        return this.$store.state.moderation.list.length;
      } catch (e) {
        return 0;
      }
    }
  },
  fetch({ store }) {
    return store.dispatch("moderation/fetchTickets");
  },
  methods: {
    async submit() {
      console.log(`submit ${this.tickets[0].id} comment=${this.comment}`);
      const { error } = await this.$api("moderation.ticketSubmit", {
        ticketId: this.tickets[0].id,
        comment: this.comment
      });
      if (error) {
        this.$toast.error(error);
        return;
      }
      this.comment = null;
      this.$store.commit("moderation/shiftTicket");
      console.log(this.$store.state.moderation.list);
    },
    async reject() {
      console.log(`reject ${this.tickets[0].id} comment=${this.comment}`);
      const { error } = await this.$api("moderation.ticketReject", {
        ticketId: this.tickets[0].id,
        comment: this.comment
      });
      if (error) {
        this.$toast.error(error);
        return;
      }
      this.comment = null;
      this.$store.commit("moderation/shiftTicket");
      console.log(this.$store.state.moderation.list);
    }
  }
};
</script>
