<template lang="pug">
v-layout
  v-row
    v-col(cols="12") 
      v-btn(to="/moderation") Модерация
    v-col(cols="6")
      .headline Предложка {{ cityWhere }}
    v-col(cols="6")
      div.text-right
        v-dialog(v-model="helpDialog"
         width="500")
          template(v-slot:activator="{ on }")
            v-btn(
              color="lighten-2"
              dark
              v-on="on")
              v-icon help
          v-card(v-if="dialog")
            v-card-title.headline.grey.lighten-2(primary-title) Инструкция
            v-card-text()
              moderation-help-text
            v-card-actions
              v-btn(@click="helpDialog = false") Закрыть
    v-col(cols="12" v-if="!offers")
      .caption Загружаем посты...
      v-img(:src="require(`~/assets/il-placeholder.png`)" max-width="500px")
    v-col(cols="12" v-for="offer,i in offersWithImages" :key="i")
      v-card(v-touch="{left: makeHideOffer(offer.offerId)}")
        v-card-text
          //v-row
            offer-tags(:text="offer.comment" @loaded="updateParsed(offer.offerId, $event)")
            v-btn(v-if="canPublishInOneClick(offer.offerId)" @click="oneClickPublish(offer.offerId)") Опубликовать в один клик
          v-row.m-4(align="center")
            v-list-item-avatar.mr-4(color="grey darken-3" )
              v-img.elevation-6(:src="offer.user.avatarUrl")
            strong.title {{offer.user.firstName}} {{offer.user.lastName}}
        v-card-text
          nl2br(tag="p" :text="offer.comment")
        v-card-text
          v-row
            v-col(cols="12" md="3" v-for="img,i in offer.images.filter((img,i)=> i < 2)" :key="i")
              v-img(:src="img.url" contain)
        v-card-actions
          .caption
            v-icon(light small) mdi-clock-outline 
            span &nbsp;{{ $moment(offer.publishedAt).fromNow() }}
          v-spacer
          v-btn(@click="hideOffer(offer.offerId)") Скрыть
          v-btn(color="primary" @click="offerToPublish = offer.offerId; dialog=true; price = offer.price") Создать объявление
  v-row(justify="center")
    v-dialog(v-model="dialog" max-width="600" scrollable)
      v-card
        v-card-title.headline Создание объявления
        v-window(v-model="step")
          v-window-item(:value="1")
            v-card-text
              v-text-field(v-if="" label="Сколько денег" v-model.number="price")
              v-radio-group(v-model="selectedOfferSearchType" :row="true")
                v-radio(v-for="type,i in offerSearchTypes" :key="i" :label="type.label" :value="type.type")
              v-radio-group(v-model="selectedOfferBuildType" :row="true" v-if="selectedOfferSearchType")
                v-radio(v-for="type,i in offerBuildTypes" :key="i" :label="type.label" :value="type.type")
              v-text-field(v-if="selectedOfferSearchType === 2 && selectedOfferBuildType" label="Адрес" v-model="address")
              span.caption.grey--text.text--darken-1(v-if="!selectedOfferSearchType || !selectedOfferBuildType || (!address && selectedOfferSearchType == 2)") Заполните все поля
        v-divider
        v-card-actions
          v-btn(:disabled="step === 1"
                text
                @click="step--") Назад
          v-spacer
          v-btn(
            :disabled="!selectedOfferSearchType || !selectedOfferBuildType || (!address && selectedOfferSearchType == 2)"
            color="primary"
            depressed
            @click="nextStep") Опубликовать
</template>

<script>
import Nl2br from "vue-nl2br";
import OfferTags from "~/components/OfferTags";
import ModerationHelpText from "~/components/ModerationHelpText";

export default {
  components: {
    Nl2br,
    OfferTags,
    ModerationHelpText
  },
  data() {
    return {
      helpDialog: false,
      recentlyPublishedId: null,
      recentlyError: null,
      price: null,
      offerToPublish: null,
      dialog: false,
      step: 1,
      selectedOfferSearchType: null,
      selectedOfferBuildType: null,
      address: null,
      roomCount: null,
      offerSearchTypes: [
        { type: 1, label: "Ищу гнёздышко" },
        { type: 2, label: "Сдаю гнёздышко" },
        { type: 3, label: "Ищу соседа" }
      ],
      offerBuildTypes: [
        { type: 1, label: "Квартиру" },
        { type: 2, label: "Комнату" }
      ],
      parsedOffers: [],
      helpText: `<b>Инструкция</b>
`
    };
  },
  computed: {
    offersWithImages() {
      return this.offers.filter((o, inx) => {
        try {
          return o.images.length > 0 && !this.isHidden(o.offerId);
        } catch (e) {
          return false;
        }
      });
    }
  },
  async asyncData({ app }) {
    const { result } = await app.$api("vk.posts");
    return { offers: result.offers, cityWhere: result.cityWhere };
  },
  methods: {
    canPublishInOneClick(offerId) {
      try {
        return !!this.parsedOffers.find(x => x.offerId === offerId);
      } catch (e) {
        return false;
      }
    },
    async oneClickPublish(offerId) {
      const parsedData = this.parsedOffers.find(x => x.offerId === offerId);
      this.selectedOfferSearchType = parsedData.parsedOffer.searchType;
      this.selectedOfferBuildType = parsedData.parsedOffer.buildType;
      this.price = parseInt(parsedData.parsedOffer.price);
      this.roomCount = parsedData.parsedOffer.roomCount;
      this.offerToPublish = offerId;

      console.log("parsed data", parsedData);

      await this.publishOffer(offerId);
    },
    updateParsed(offerId, parsedOffer) {
      this.parsedOffers.push({ offerId, parsedOffer });
      console.log("parsed callback", this.parsedOffers);
    },
    makeHideOffer(offerId) {
      const self = this;
      return () => {
        self.hideOffer(offerId);
      };
    },
    hideOffer(offerId) {
      console.log("hide", offerId);
      this.offers = this.offers.filter(o => o.offerId !== offerId);
      // this.$set(this, 'offers', this.offers)
      this.$store.commit("localStorage/moderationHideVkOffer", offerId);
    },
    isHidden(offerId) {
      return this.$store.state.localStorage.moderationSuggestHideList.find(
        x => x === offerId
      );
    },
    async publishOffer(offerId) {
      const offer = this.offers.find(x => x.offerId === offerId);

      const offerRequest = {
        searchType: this.selectedOfferSearchType,
        rentDuration: 3, // yearly TODO
        buildType: this.selectedOfferBuildType,
        images: offer.images,
        address: this.address,
        price: parseInt(this.price),
        comment: offer.comment,
        createUser: true, // if called from moderation,
        publish: true, // if called from moderation,
        vkPostID: offer.offerId,
        city: 1, // TODO
        roomCount: this.roomCount,
        user: {
          firstName: offer.user.firstName,
          lastName: offer.user.lastName,
          avatarUrl: offer.user.avatarUrl,
          vkId: offer.user.vkId,
          isVkUser: true
        }
      };

      const { result, error } = await this.$api("offers.fastCreate", {
        offerRequest
      });
      if (error) {
        this.$toast.error(error);
        this.dialog = true;
        this.recentlyError = error;
        this.step = 2;
      } else {
        this.recentlyPublishedId = result;
        this.recentlyError = null;

        this.selectedOfferSearchType = null;
        this.selectedOfferBuildType = null;
        this.address = null;
        this.hideOffer(offer.offerId);
        this.dialog = false;

        this.$toast.success(result);
        this.step = 1;
      }

      console.log("publish offer request", offerRequest);
    },
    async nextStep() {
      this.step++;
      await this.publishOffer(this.offerToPublish);
    }
  }
};
</script>
