<template lang="pug">
  div
    h1 Создание объявления о {{ this.$route.params }}
</template>

<script>
export default {
  data() {
    return {
      declaratinTitle: "Создание обявления"
    };
  }
};
</script>

<style lang="css"></style>
