<template lang="pug">
div
  offer-form(v-if="$auth.loggedIn" :offer="offer" title="Создать объявление" saveTitle="Создать" :isCreate="true" :metros="metros" :cities="cities")
  v-card(v-else)
    v-card-title Для создания объявления необходимо авторизоваться
    v-card-text
      nuxt-link(to="/auth/signin") Перейти на страницу авторизации
</template>

<script>
import OfferForm from "~/components/OfferForm.vue";

export default {
  components: {
    OfferForm
  },
  data() {
    return {
      offer: {
        source: null,
        lat: 59.95,
        lon: 30.3,
        images: []
      },
      cards: [
        {
          title: "Ищу гнёздышко",
          descr: "Самый быстрый способ найти себе жильё",
          to: "/add/snyat-zhilyo"
        },
        {
          title: "Ищу гнездоискателя",
          to: "/add/sdat-zhilyo"
        },
        {
          title: "Ищу соседа",
          to: "/add/naiti-soseda"
        }
      ]
    };
  },
  async asyncData({ app }) {
    const metroResp = await app.$api("metros.list");
    const cities = await app.$api("geo.cities");
    return { metros: metroResp.result, cities: cities.result };
  },
  created() {
    console.log(this.$route.query);
    if (this.$route.query.source) {
      this.offer.source = this.$route.query.source;
    }
  }
};
</script>
